@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
  logs: false;
}

@theme {
  /* https://tailwindcss.com/docs/responsive-design#removing-default-breakpoints */
  --breakpoint-*: initial;
  --breakpoint-desk: 1200px;
}

* {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Flatpickr themes */
[data-theme="dark"] {
  @import "flatpickr/dist/themes/dark.css";
}
[data-theme="light"] {
  @import "flatpickr/dist/themes/airbnb.css";
}
