{
  "plugins": [
    "prettier-plugin-svelte",
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-astro",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    },
    { "files": "*.svelte", "options": { "parser": "svelte" } }
  ],
  "importOrder": [
    "^\\$lib/(?!components)(.*)$",
    "^\\$lib/components/(.*)$",
    "^[.][.]/",
    "^[.]/"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
